@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: var(--Off-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--White);
    width: 550px;
    height: fit-content;
    padding: 40px 30px;
    border-radius: 20px 20px 132px 20px;
    box-shadow: 4px 5px 3px gray;
}

.input-sec {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 90%;
}

.input-box {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    height: 107px;
}

.input-sec input[type="text"] {
    width: 75%;
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 700;
    outline-color: var(--Purple);
    outline-width: 1px;
    caret-color: var(--Purple);
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid var(--Off-black);
}

input::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: var(--Smokey-grey);
}

.input-head {
    font-size: 16px;
    font-weight: 700;
    color: var(--Smokey-grey);
}

.btn {
    width: 50px;
    height: 50px;
    background-color: var(--Purple);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -58px;
    right: -50px;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: var(--Off-black);
}

.btn img {
    width: 25px;
    height: 25px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: var(--Light-grey);
    margin: 30px 0;
}

.result-output-sec div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

.output {
    font-size: 45px;
    color: var(--Purple);
    font-weight: 800;
}

.result-output-sec div p {
    font-size: 45px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    font-style: italic;
}

.error {
    color: var(--Light-red);
}

.day-err-msg,
.month-err-msg,
.year-err-msg,
.show-valid-date-msg {
    font-size: 11px;
    color: var(--Light-red);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}